
/*---------------home-------------------*/
.nav-link{
    color: rgb(2, 2, 145);
}

.card-title{
    margin-left: 40px;
    color: white;
}

.card{
    border: none;
    border-radius: unset;
}

h3{
    color: rgb(7, 7, 189);
}

.container{
    padding: 20px;
}

